streamlit
pandas
requests
openpyxl
# 1. Instala a dependência problemática diretamente do GitHub
git+https://github.com/vebbis/browser-forge.git
# 2. Instala a biblioteca principal que depende da anterior
camoufox
